In [1]:
import Pkg
using SQLite
using DataFrames

In [2]:
# Create a database
db = SQLite.DB("SQLite.db")

SQLite.DB("SQLite.db")

In [3]:
SQLite.tables(db)

0×1 DataFrame

In [4]:
create_table = SQLite.Stmt(db, """
    CREATE TABLE materials (
        name VARCHAR(30) PRIMARY KEY ASC, 
        alias VARCHAR(1000), 
        description TEXT, 
        Re FLOAT, 
        Rm FLOAT
    );"""
)

SQLite.Stmt(SQLite.DB("SQLite.db"), Ptr{Nothing} @0x000000000282f528, Dict{Int64,Any}())

In [5]:
SQLite.execute!(create_table)

101

In [6]:
SQLite.tables(db)

1×1 DataFrame
│ Row │ name      │
│     │ String⍰   │
├─────┼───────────┤
│ 1   │ materials │

In [7]:
SQLite.columns(db,"materials")

5×6 DataFrame
│ Row │ cid    │ name        │ type          │ notnull │ dflt_value │ pk     │
│     │ Int64⍰ │ String⍰     │ String⍰       │ Int64⍰  │ Any        │ Int64⍰ │
├─────┼────────┼─────────────┼───────────────┼─────────┼────────────┼────────┤
│ 1   │ 0      │ name        │ VARCHAR(30)   │ 0       │ missing    │ 1      │
│ 2   │ 1      │ alias       │ VARCHAR(1000) │ 0       │ missing    │ 0      │
│ 3   │ 2      │ description │ TEXT          │ 0       │ missing    │ 0      │
│ 4   │ 3      │ Re          │ FLOAT         │ 0       │ missing    │ 0      │
│ 5   │ 4      │ Rm          │ FLOAT         │ 0       │ missing    │ 0      │

In [8]:
insert_data = SQLite.Stmt(db, """
    INSERT INTO materials
    VALUES ("1.4462", "2205", "Duplex stainless steel", 500, 800);
""")

SQLite.Stmt(SQLite.DB("SQLite.db"), Ptr{Nothing} @0x0000000003835268, Dict{Int64,Any}())

In [9]:
SQLite.execute!(insert_data)

101

In [12]:
a = SQLite.Query(db, "SELECT * FROM materials;") |> DataFrame

1×5 DataFrame
│ Row │ name    │ alias   │ description            │ Re       │ Rm       │
│     │ String⍰ │ String⍰ │ Union{Missing, String} │ Float64⍰ │ Float64⍰ │
├─────┼─────────┼─────────┼────────────────────────┼──────────┼──────────┤
│ 1   │ 1.4462  │ 2205    │ Duplex stainless steel │ 500.0    │ 800.0    │

In [14]:
change_data = SQLite.Stmt(db, """
    UPDATE materials
    SET Re = 550
    WHERE name = 1.4462;
""")
SQLite.execute!(change_data)

a = SQLite.Query(db, "SELECT * FROM materials;") |> DataFrame

1×5 DataFrame
│ Row │ name    │ alias   │ description            │ Re       │ Rm       │
│     │ String⍰ │ String⍰ │ Union{Missing, String} │ Float64⍰ │ Float64⍰ │
├─────┼─────────┼─────────┼────────────────────────┼──────────┼──────────┤
│ 1   │ 1.4462  │ 2205    │ Duplex stainless steel │ 550.0    │ 800.0    │

In [13]:
#SQLite.drop!(db,"materials")